<div class="page-header"><h2>Approach</h2></div>
<p>
	The main goal of this project is to create a scheduling algorithm that is friendly toward small and medium-sized businesses that do not require the granularity and minute cost savings of scheduling algorithms created for large businesses. 
</p>
<p>
	A binary integer programming model was chosen because, based on treating shifts as immutable 4-hour blocks, a binary integer programming model allows for efficient solving relative to other nonlinear models. In addition, the application of heuristics is more straightforward. </p>
	<p>
	When considering other models, meeting constraints of number of employee shifts per time period becomes computationally difficult. In models that optimize based on minimizing labor costs,  this becomes a variable instead of a constraint, and hence the model is more applicable. 
</p>

<p>
	The following characteristics are unique to this scheduling approach:</p>
	<ul>
		<li>Allows employees to specify preferred shifts</li>
		<li>Weights employee shift preference based on number of preferred shifts, thus making it more likely for an employee to receive their preferred shifts if they specify fewer preferences</li>
		<li>Does not penalize employees who choose not to specify preferred shifts</li>
	</ul>
	