<div class="page-header"><h2>Background</h2></div>

<p>Recent healthcare legislation in the United States is affecting workforce management. The Patient Protection and Affordable Care Act defines full-time employees as those who work 30 or more hours per week, on average. Under the legislation, businesses with 50 or more employees are required to provide healthcare benefits to full-time employees, or pay a substantial fine (<a href="http://www.ncsl.org/documents/health/ppaca-consolidated.pdf">Source</a>). </p>
<p>
This legislative change is causing changes in workforce management. Specifically, the Wall Street Journal notes that these changes driving employers to schedule more employees with more strict hour requirements (<a href="http://online.wsj.com/article/SB10001424127887324616604578304072420873666.html">Source</a>). Specifically, rather than employing more full-time workers, more employers are hiring a larger force of part-time employees for 29-hour workweeks to avoid the  penalty. </p>

<p>Scheduling more employees with additional constraints increases the difficulty of the problem, and current analog methods are becoming increasingly tedious. </p>
<p>
With the decreasing cost of computer and the rise of software as a service products, business owners are becoming more receptive to technological solutions to common problems. In addition, with the recent <em>big data</em> trend, operations research and applied statistics are becoming mainstream. 
</p><p>
Scheduling is a classic operations research problem. By minimizing employee labor cost, a Binary Integer Programming (BIP) model is often used to place employees in shifts. Constraints such as shift lengths, employee weekly hours, and minimum number of shifts are often considered. 
</p><p>

Corporations such as Taco Bell  use binary or mixed integer programing models \cite{taco} with success to schedule thousands of employees every week. Current scheduling models are based on minimizing labor costs. Specifically, every time slot is assigned a minimum number of employees needed to work that shift, and the number of employees working may exceed that minimum due to minimum and maximum shift length constraints.  On a large scale, minimizing employee labor costs provides a quantifiable financial benefit.
</p>