<div class="page-header"><h2>Conclusion</h2></div>

<p>The model functions as intended. Due to the low cost and high speed of modern computing, converting this algorithm into a Software as a Service (SaaS) product would be the ideal user interface. The difficulty in a real-world implementation is handling infeasible inputs - for instance, not having enough employees who may work at a particular shift. </p>
<p>Basic scheduling needs are met by the model, and it excels at speed because the only nonlinearity is the binary aspect of the decision variables. However, the next step in a more advanced model is adding contiguity constraints such that there is a minimum break between non-continuous shifts. Such a nonlinear constraint adds significant computational difficulty.
	</p>