<div class="page-header"><h2>Implementation</h2></div>

<p>A working implementation in Excel using the Solver package is forthcoming.</p>

<p>A greedy heuristic of using the employee preference matrix as the first iteration of the decision variable increases the speed of the model. In tests, using a heuristic of a Linear Programming Relaxation rounded to binary values proved to be little effective due to the high number of feasible shifts and low number of scheduled shifts. </p>
<p>  Many Binary Integer Programming libraries exist, but in general a branching tree algorithm is preferred. </p>
