<div class="page-header"><h2>Model</h2></div>

<h3>Indices</h3>
i: Employee<br />
j: Shift<br />

<h3>Parameters</h3>
Employee$_{min,j}$: Minimum employees working at time<br />
Employee$_{max,j}$: Maximum employees working at time<br />
Preference$_{i,j}$: Employee Weighted Shift Preference<br />
Availability$_{i,j}$: Boolean employee availability at time<br />


Shift$_{min}$: Minimum employee shift length <br />
Shift$_{max}$: Maximum employee shift length<br />

<h3>Decision Variable</h3>
x$_{i,j}$: Employees working at time


<h3>Constraints</h3>
<!-- TODO -->

<h3>Employee Shift Weighting</h3>
<p>The employee preference parameter is created to allow employees to designate shifts they prefer. The model then optimizes to give employees the shifts they desire. </p>
<p>
The preferences parameter is calculated such that:</p>

$$\sum\limits_{j}Preferences_{i,j} = \sum\limits_{j}Availability_{i,j}$$

<p>Should an employee choose not to specify priority shifts, or if an employee chooses to prioritize all shifts, the preference matrix should thus be equally weighted, and equal to the availability parameter:</p>

$$Preferences_{i,j} = Availability_{i,j}$$

<p>Based on the objective function, priority shifts are upweighted, and based on the specified constraints the non-priority shifts must be downweighted. The upweighting factor is designated as $\alpha$ and the downweighting factor is designated as $\beta$. </p>
<p>
Considering j = 4 with one specified priority shift:
</p>
$$ (1 + \alpha) + (1-\beta) + (1-\beta) + (1-\beta) = 4 $$
<p>
Thus, in this case: $$\alpha = 3\beta$$</p>
<p>
Clearly, $\beta$ must always be less than one. However, we also consider that employees who specify only a single priority shift have more weight placed on that shift than someone who prioritizes all but one shift.  We specify that a prioritized shift may be no more than twice as weighted as a non-weighted shift, thus $\alpha<1$.
</p>
$$\alpha_{i} = \frac{count(\beta)}{\sum\limits_{j}Availability_{i,j}}$$

<p>Thus,</p>

$$\beta_{i} = \alpha \frac{count(\alpha)}{count(\beta)}$$
<p>
In addition, if $count(\beta_{i})=0$ or $count(\alpha_{i})=0$,</p>
$$ \beta_{i} = \alpha_{i} = 0 $$ 
<p>
Thus,</p> 
$$ \alpha_{i}*count(\alpha_{i}) +\beta_{i} * count(\beta_{i}) = \sum\limits_{j}Availability_{i,j}$$


<h3>Objective Function</h3>

$$ max~Z = \sum\limits_{i,j} x_{i,j} * Preferences_{i,j}$$