<h2 class="side-title"><span id="title-click">Senior Project</span><br />
<a href="http://www.philipithomas.com"><small class="muted">by Philip I. Thomas</small></a></h2>

<ul class="nav nav-list" id="navigation">
	<li><a href="#title" id="to-title"><i class="icon-chevron-right"></i> Introduction</a></li>
	<li><a href="#abstract" id="to-abstract"><i class="icon-chevron-right"></i> Abstract</a></li>
	<li><a href="#background" id="to-background"><i class="icon-chevron-right"></i> Background</a></li>
	<li><a href="#example" id="to-example"><i class="icon-chevron-right"></i> Motivating Example</a></li>
	<li><a href="#approach" id="to-approach"><i class="icon-chevron-right"></i> Approach</a></li>
	<li><a href="#model" id="to-model"><i class="icon-chevron-right"></i> Model</a></li>
	<li><a href="#implementation" id="to-implementation"><i class="icon-chevron-right"></i> Implementation</a></li>
	<li><a href="#conclusion" id="to-conclusion"><i class="icon-chevron-right"></i> Conclusion</a></li>
</ul>