	<h1 style="line-height: 50px">Scheduling Algorithm with Optimization of Employee Satisfaction<br />
	
</h1>
<blockquote class="colophon">Senior Design Project
	By <a href="http://www.philipithomas.com">Philip I. Thomas</a><br /><br />
Advised by 
<a href="http://engineering.wustl.edu/facultybio.aspx?faculty=155">Associate Professor Heinz Schaettler</a><br /><br />
<a href="http://ese.wustl.edu">Preston M. Green Department of Electrical and Systems Engineering</a><br />
<a href="http://wustl.edu">Washington University in St. Louis</a> <br /><br />
Completed April 2013
</blockquote>
