	<h1 style="line-height: 50px">Scheduling Algorithm with Optimization of Employee Satisfaction<br />
	
</h1>
<div class="well colophon">
	<strong>Senior Design Project</strong><br />
	By <a href="http://www.philipithomas.com">Philip I. Thomas</a><br /><br />
Advised by <br />
<a href="http://engineering.wustl.edu/facultybio.aspx?faculty=155">Professor Heinz Schaettler</a><br />
<a href="http://ese.wustl.edu">Preston M. Green Department of Electrical and Systems Engineering</a><br />
<a href="http://wustl.edu">Washington University in St. Louis</a> <br /><br />
Completed April 2013
</div>